body {
    background-color: rgb(20, 20, 40);
}

* {
    color:white;
}

#title {
    color: black;
    font-size: 50px;
    background-color: rgb(255, 123, 0);
    border-radius: 6px;
    text-align: center;
    border: 5px solid purple;
    width: 500px;
    margin: 0 auto;
    padding:
}

.img {
    display:block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    height:auto;
    border: 10px double red;
}

.recipe-description {
    color:white;
    font-size: 24px;
    text-align: center;
}

.recipe-heading {
    color:black;
    font-size: 40px;
    font-weight: 800;
    background-color: rgb(255, 157, 76)
}

.recipe-container .recipe-heading {
    margin:5px;
    padding: 5px;
    width:fit-content;
}

.recipe-list {
    color: rgb(255, 115, 0);
    font-size: 24px;
}

.recipe-list li {
    background-color:rgb(83, 0, 151);
    padding: 5px;
    margin: 5px;
    border: 2px solid rgb(95, 86, 145)
}

.back-home {
    color: white;
    font-size:30px;
    text-align: center;
    background-color: rgb(255,123,0);
}

.recipe-container {
    background-color: rgb(255, 157, 76);
    border: .3em solid rgb(95, 86, 145);
    padding: 0px 10px;
    width: 400px;
    margin: 50px auto;
}